---
import { Icon } from "astro-icon/components";
import Button from "./Button.astro";

interface Props {
    title?: string;
    links: Array<{
        href: string;
        icon?: string;
        title: string;
        description?: string;
    }>;
}

const { links, title } = Astro.props as Props;
---

<div>
    {
        title && (
            <span class="font-semibold text-secondary text-xl md:text-2xl lg:text-3xl leading-tight">
                {title}
            </span>
        )
    }
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mt-8">
        {
            links.map(({ href, icon, title, description }) => (
                <div class="flex flex-col">
                    <div class="flex">
                        <div class="flex flex-col gap-2 flex-grow">
                            {icon && (
                                <div class="text-[1.75rem] text-secondary">
                                    <Icon name={icon} />
                                </div>
                            )}
                            <span class="text-base font-bold text-secondary m-0">
                                {title}
                            </span>
                        </div>
                        <a href={href} class="btn no-underline bg-primary text-secondary hover:bg-secondary hover:text-primary border border-secondary">
                            <Icon name="ri:arrow-right-line" />
                            <span class="ml-2 no-underline">Voir la liste</span>
                        </a>
                    </div>
                    <p class="text-[0.875rem] text-secondary leading-[1.6] m-0">
                        {description}
                    </p>
                </div>
            ))
        }
    </div>
</div>
