---
import { Icon } from "astro-icon/components";
import Button from "./Button.astro";

interface Props {
    title?: string;
    links: Array<{
        href: string;
        icon?: string;
        title: string;
        description?: string;
    }>;
}

const { links, title } = Astro.props as Props;
---

<div>
    {
        title && (
            <span class="font-semibold text-secondary text-xl md:text-2xl lg:text-3xl leading-tight">
                {title}
            </span>
        )
    }
    <div class="flex flex-wrap gap-10 mt-8">
        {
            links.map(({ href, icon, title, description }) => (
                <div class="flex gap-1.5 flex-col flex-1 min-w-[20rem]">
                    {icon && (
                        <div class="text-[1.75rem] mb-1.5 text-secondary">
                            <Icon name={icon} />
                        </div>
                    )}
                    <span class="text-base font-bold p-0 text-secondary m-0">
                        {title}
                    </span>
                    <span class="text-[0.875rem] p-0 text-secondary m-0">
                        {description}
                    </span>
                    <Button href={href} icon="ri:arrow-right-line" iconPosition="right" size="sm" class="mt-2 mb-0 w-fit">Voir la liste</Button>
                </div>
            ))
        }
    </div>
</div>
